Name {{view Ember.TextField value=content.name class="form-control"}}

<br />

Subnet
      {{view Ember.Select
           content=subnets
           optionLabelPath="content.name"
           optionValuePath="content.id"
           selection=content.subnet
           value=content.ubnet.id
           prompt="Select Subnet"
           class="form-control"
      }}

<br />

Domain
      {{view Ember.Select
           content=domains
           optionLabelPath="content.name"
           optionValuePath="content.id"
           selection=content.domain
           value=content.domain.id
           prompt="Select Domain"
           class="form-control"
      }}

<br />
<br />
<br />
<br />
<button {{action 'cancel'}} class='btn btn-default'>Cancel</button>
<button {{action 'update'}} class='btn btn-primary'>Submit</button>
<br />
<br />
