<form>

<br />
firstname {{view Ember.TextArea value=model.firstname}}

<br />
lastname {{view Ember.TextArea value=model.lastname}}

<br />
login {{view Ember.TextField value=model.login}}

<br />
<br />
<button {{action 'saveChanges'}}>Save Changes</button>

<button {{action 'cancel'}}>Cancel</button>

<button {{action 'delete'}}>Delete</button>

{{#if controller.showUnsavedMessage}}
     <div class=unsaved> unsaved changes</div>
{{/if}}
{{#if controller.model.isSaving}}
    <div class=saving> saving...</div>
{{/if}}
</form>

