<h2>Hostgroup</h2>
{{link-to 'EDIT' 'hostgroup.edit' model}}

<div class='row'>

  <div class='col-md-6'>
    Name: {{name}}
    <br />
    Subnet: {{subnet.name}}
    <br />
    Domain: {{domain.name}}

    <hr />

    <h2>Puppetclasses</h2>
    {{#each puppetclass in puppetclasses}}
      {{puppetclass.name}}<br />
    {{/each}}


  </div>

  <div class='col-md-6'>
    {{outlet}}
  </div>
</div>

