<br />
<h1>{{title}} {{link-to 'Edit' 'hostgroup.edit' model class='btn btn-default'}}</h1>


<div class='row'>

{{#unless isEditing}}
  <div class='col-md-6'>
    Name: {{name}}
    <br />
    Parent: {{#link-to 'hostgroup' parent_hostgroup}} {{parent_hostgroup.name}} {{/link-to}}
    <br />
    Subnet: {{#link-to 'subnet' model.subnet}} {{subnet.name}} {{/link-to}}
    <br />
    Domain: {{#link-to 'domains'}} {{domain.name}} {{/link-to}}
    <hr />

    <h2>Puppetclasses</h2>
    <h4>Config groups</h4>
    {{#each config_group in model.config_groups}}
      {{config_group.name}}<br />
    {{else}}
      No Config Groups
    {{/each}}

    <h4>Puppetclasses</h4>
    {{#each puppetclass in model.puppetclasses}}
      {{puppetclass.name}}<br />
    {{else}}
      No Puppet classes
    {{/each}}

    <h2>Parameters</h2>


    <h2>Locations</h2>


    <h2>Organizations</h2>

  </div>
{{/unless}}

  <div class='col-md-6'>
    {{outlet}}
  </div>
</div>

