<br />
<h1>{{title}} {{link-to 'Edit' 'hostgroup.edit' model class='btn btn-default'}}</h1>


<div class='row'>

{{#unless isEditing}}
  <div class='col-md-6'>
    Name: {{name}}
    <br />
    Parent: {{parent}}
    <br />
    Subnet: {{#link-to 'subnet' model.subnet}} {{subnet.name}} {{/link-to}}
    <br />
    Domain: {{#link-to 'domains'}} {{domain.name}} {{/link-to}}
    <hr />

    <h2>Puppetclasses</h2>
    {{#each puppetclass in puppetclasses}}
      {{puppetclass.name}}<br />
    {{/each}}
  </div>
{{/unless}}

  <div class='col-md-6'>
    {{outlet}}
  </div>
</div>

