<h2>{{model.fullName}}</h2>


{{#unless isEditing}}

{{link-to 'EDIT THIS USER' 'user.edit' model classNames='edit'}}


<br />
{{model.login}}
<br />
{{model.firstname}}
<br />
{{model.lastname}}
<br />
{{model.mail}}
<br />
{{model.lastLoginOn}}


<hr />
{{/unless}}


{{outlet}}