<h1>List of Users ({{cntFilteredUsers}} of {{cntAllUsers}})</h1>

{{#each error in errors.email}}
  {{error.message}}
{{/each}}

<div class='row'>

  <div class='col-md-6'>

    {{view Ember.TextField value=search placeholder="search" classNames="search"}}

    {{#link-to 'users.new'}}New Lead{{/link-to}}

    <table class="table table-striped">
      <tbody>
      <tr>
        <th>Login</th>
        <th>Name</th>
        <th>Email</th>
        <th>Actions</th>
      </tr>

      {{#each user in filteredUsers}}
        <tr>
          <td> {{#link-to 'user' user}} {{user.login}} {{/link-to}} </td>
          <td> {{user.fullName}} </td>
          <td> {{user.mail}} </td>
          <td>
          </td>
        </tr>
      {{/each}}
      </tbody>
    </table>

  </div>

  <div class='col-md-6'>

    {{outlet}}

  </div>
</div>
